/* .landingPage-bg{
    background: #69a949;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.frog-image{
    height: 500px;
    width: 500px;
   
}

.heading-lp{
    padding-top: 3%;
    font-size: 50px;
    font-weight: 700;
    color: #e61360;
}
.subheading-lp{
    padding-top: 1%;
    padding-bottom: 5%;
    font-size: 20px;
    color: white;
}
.view-template{
    font-size: 25px;
    background-color: #f51ddc;
    color: white;
    font-weight: 700;
    border: none;
    padding-top: 10px;
    padding-bottom:10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.view-template:hover{
    background-color: #3a6424;
} */
.landingPage-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #6db081, #fcf67c);
    height: 100vh;
}
.frog-image{
    transition: transform 1s ease-in-out;
}
.frog-image:hover{
    transform: scale(1) rotate(180deg);
}
.heading-lp{
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
}
.view-template{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    font-size: larger;
    border: none;
    background-color: rgb(247, 164, 120);
    box-shadow: 2px 2px 4px rgb(245, 119, 8); 
}
.view-template:hover{
    cursor: pointer;
    background-color: white;
}


