.loading-template{
    background: linear-gradient(to bottom right, #6db081, #fcf67c);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.frog-loader{
    height: 350px;
    width: 350px;
}
.loader-text{
    font-size: 40px;
    font-weight: 700;
    color:  black;
    padding-top: 2%;
}
.templatePage-bg{
    background: linear-gradient(to bottom right, #6db081, #fcf67c);
    width: 100%;
    height: 100%;
}
.templatePage-heading{
    font-size: 42px;
    font-style: italic;
    font-weight: 700;
    text-shadow: 2px 2px lightgrey;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}
.templateNames{
    overflow-y: scroll;
    max-height: 80vh;
    color: white;
    background-color: rgb(54, 54, 54);
    opacity: 0.6;
    width: fit-content;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

.templatename{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.templatename:hover{
    background-color: rgb(176, 216, 179);
   
}

@media screen and (min-width: 1301px) {
    .template-container {
        display: flex;
        padding: 3%;
        justify-content: space-around;
    }
    .selectedTemplateImage{
        max-width: 100%;
        height: 700px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 1300px) {
    .template-container {
        display: flex;
        flex-direction: column;
        padding: 3%;
    }
    .selectedTemplateImage{
        width: 60%;
        height: 60%;
    }
  }
.templateImage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-button{
    font-size: 25px;
    background-color: #284718;
    color: white;
    font-weight: 500;
    border: none;
    padding-top: 10px;
    padding-bottom:10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    cursor: pointer;
    width: 50%;
    margin-top: 4%;
    box-shadow: 3px 3px yellowgreen;
}
.edit-button:hover{
    background-color: white;
    color: #284718;
    transition: 0.5s all ;
}

.enter-humour{
    font-size: 20px;
    background-color: white;
    color: #284718;
    font-weight: 700;
    border: none;
    padding-top: 10px;
    padding-bottom:10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    width: 500px;
    margin-top: 4%;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}